**(1)** Create a DataFrame whose index is the first 10 letters of the alphabet and contains two more columns with first 10 prime numbers and the first 10 fibonacci numbers.You can write the numbers and letters manually.

In [66]:
import numpy as np
import pandas as pd

In [67]:
alphabet=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [68]:
data=pd.DataFrame()
data

Empty DataFrame
Columns: []
Index: []

In [69]:
f=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025]
p=[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97,101]

In [70]:
data['Fibonacci'] = f
data['Prime'] = p
data.index=alphabet
data.head(10)

   Fibonacci  Prime
a          0      2
b          1      3
c          1      5
d          2      7
e          3     11
f          5     13
g          8     17
h         13     19
i         21     23
j         34     29